.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:40px 20px ;
    max-width: 1200px;
    margin: 0 auto;
}

.header-menu {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.header-menu a {
    text-decoration: none;
    font-size: 1.125;
    padding: 10px 20px;
    color: #141414;
    display: block;
    background: #f4f4f4;
}

@media (max-width: 850px) {
    .header {
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }

    .header a {
        background: #f4f4f4;
        border-radius: 4px;
    }
}
